### Environment ###
/.env

### Node build artifacts ###
/node_modules

### Smart Contracts build artifacts ###
/out/
/cache/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### macOS system files ###
.DS_Store

### AI context ###
ai_context
