### Environment ###
/.env

### Node build artifacts ###
/node_modules

### Smart Contracts build artifacts ###
/out/
/cache/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### macOS system files ###
.DS_Store

### AI context ###
ai_context
.cursorrules

### Coverage ###
coverage_html/
lcov.info
TODO.MD
GEMINI.md
check_fuses_build.sh
check_fuses_tests_build.sh
check_tests_build.sh
tools/check_tests_build.sh
tools/check_fuses_build.sh
tools/check_fuses_tests_build.sh
tools/check_coverage.sh
.claude/
CLAUDE.md
docs/