[profile.default]
solc = "0.8.30"
src = 'contracts'
out = 'out'
libs = ["node_modules", "lib"]
fs_permissions = [{ access = "read-write", path = "./" }]
libraries = []
remappings = [
    '@openzeppelin/=node_modules/@openzeppelin/',
    '@uniswap/v3-core/=node_modules/@uniswap/v3-core/',
    'eth-gas-reporter/=node_modules/eth-gas-reporter/',
    'ds-test/=lib/forge-std/lib/ds-test/src/',
    'forge-std/=lib/forge-std/src/',
    'foundry-random=lib/foundry-random/src/',
    "@ethereum-vault-connector/=node_modules/ethereum-vault-connector/",
    "@pendle/core-v2/=node_modules/@pendle/core-v2/"
]
optimizer_runs = 100
ignored_error_codes = [5667, 9302, 2462, 5574, 8760]
evm_version = "cancun"
# See more config options https://github.com/foundry-rs/foundry/tree/master/config

[profile.arbitrum]
evm_version = "paris"
